@model Category

<form method="post" asp-action="Edit">
    <h2>Edit Category</h2>
<div class="form-group pt-3">
  <div asp-validation-summary="All"></div>
  <div class="form-floating mb-3">
    <input type="text" class="form-control" id="floatingInput" placeholder="Name" asp-for="Name">
    <label for="floatingInput" asp-for="Name">Name</label>
    <span asp-validation-for="Name"></span>
  </div>
  <div class="form-floating mb-3">
    <input type="text" class="form-control" id="floatingInput" placeholder="Name" asp-for="DisplayOrder">
    <label for="floatingInput" asp-for="DisplayOrder">Display Order</label>
    <span asp-validation-for="DisplayOrder"></span>
  </div>
  <button type="submit" class="btn btn-primary">Update</button>
  <a class="btn btn-light" asp-controller="Category" asp-action="Index">Back to List</a>
</div>
</form>

@section Scripts{
@{
  <partial name="_ValidationScriptsPartial" /> 
}
}

